
@{
    ViewBag.Title = "Alterar";
}

<h2 class="display-4">Alterar</h2>
<form action="/categoria/update" method="post" class="">
    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="campo-nome" class="form-check-label">Novo nome</label>
                <input type="text" value="@ViewBag.Categoria.Nome" id="campo-nome" name="nome" class="col-12 form-control" />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class=" fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>

    </div>
    <input type="text" hidden="hidden" value="@ViewBag.Categoria.Id" name="id" />
</form>

